<header class="header">
    <div class="header__container">
        <div class="header__part header__part--left">
            <a class="logo-link" href="/">
                <img src="/public/img/greenscapes_logo.png" class="header__logo" alt="logo" />
            </a>
            <button class="nav-toggle">
                <img src="/public/icons/menu_icon.svg" class="menu-icon" alt="menu icon" aria-label="navigation nav toggle" />
            </button>
        </div>
        <div class="header__part header__part--right">
            <button class="nav-close">
                <img src="/public/icons/close_icon.svg" class="close-icon "alt="close icon" />
            </button>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/about-us">About</a>
                    </li>
                    <li class="nav__item">
                        <a href="#">Services</a>
                    </li>
                    <li class="nav__item">
                        <a href="#">Testimonials</a>
                    </li>
                    <li class="nav__item">
                        <a href="#">Portfolio</a>
                    </li>
                    <li class="nav__item">
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>