{% macro head_macro(title, ogUrlPath) %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta property="og:site_name" content="Greenscapes Outdoor Living" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.greenscapesfarragut.com/{{ ogUrlPath }}" />
    <meta property="og:image" content="https://www.greenscapesfarragut.com/assets/img/logo_black_bg.webp" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="canonical" href="https://greenscapesfarragut.com/{{ ogUrlPath }}" />
    <link rel="stylesheet" href="/public/css/style.build.css?v=4" />
</head>
{% endmacro %}