<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% endblock head %}
</head>
<body>
    {% include './partials/header.partial.twig' %}
    <main>
        {% block body %}
        {% endblock body %}
    </main>
    {% include './partials/footer.partial.twig' %}
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>