.contact-heading {
    height: 20rem;
    background: #333;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    h2 {
        color: #aaa;
        font-size: 4rem;
    }
}